@import url('./variable.css');

body {
   margin: 0;
   padding: 0;
   font-family: Lato, sans-serif;
}

/* ======= HEADER ======= */
#header {
   background-color: var(--black);
   color: var(--white);
   width: 100%;
   display: flex;
   padding: 0 3rem;
   box-sizing: border-box;
}

#header .logo {
   text-transform: uppercase;
   flex-grow: 1;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   letter-spacing: 2px;
   font-weight: bold;
   font-size: 1.5rem;
   cursor: pointer;
   /* background-color: blueviolet; */
}

.logo:hover {
   opacity: .8;
}

#header .logo a {
   text-decoration: none;
   color: var(--white);
}

#header nav {
   flex-grow: 3;
   /* background-color: crimson; */
}

#header nav ul {
   list-style: none;
   margin: 0 0 0 2rem;
   padding: 0;
   display: flex;
   justify-content: flex-start;
}

#header nav ul li {
   margin: 0 .3rem;
   box-sizing: border-box;
   cursor: pointer;
}

#header nav ul li a {
   text-decoration: none;
   font-size: 1.2rem;
   color: var(--white);
   display: block;
   padding: 1.5rem;
   position: relative;
}

#header nav ul li a:hover {
   opacity: .8;
}

/* Nav items hover effect */
#header nav ul li a::after {
   content: "";
   background-color: var(--white);
   height: 2px;
   width: 0;
   position: absolute;
   bottom: 10px;
   left: 0;
   transition-duration: .3s;
}

#header nav ul li a:hover::after {
   width: 100%;
}

#header .contact {
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: aqua; */
}

#header .contact .contact-btn  {
   display: block;
   text-decoration: none;
   color: var(--white);
   background-image: linear-gradient(to right, var(--blue) 0%, var(--purple) 100%);
   transition-duration: .4s;
   padding: .6rem 1.5rem;
   border-radius: 50px;
   font-size: 1.05rem;
}

#header .contact-btn:hover {
   opacity: .8;
   background-image: linear-gradient(to right, var(--purple) 0%, var(--blue) 100%);
}

#header .contact span {
   margin: 0 0 0 .3rem;
}


/** ====== FOOTER ====== */
#footer {
   background-color: var(--black);
   color: var(--white);
   padding: 2rem 0;
}

#footer .back-to-top {
   /* background-color: crimson; */
   text-align: center;
   margin-bottom: 2rem;
}

#footer .back-to-top a {
   text-decoration: none;
   color: var(--white);
}

#footer section {
   display: flex;
}

#footer .placeholder {
   flex-grow: 1;
   /* background-color: aquamarine; */
}

#footer nav {
   flex-grow: 1;
   padding: 0 1rem;
   /* background-color: crimson; */
}

#footer nav ul {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   margin: 0;
   padding: 0;
}

#footer nav ul li {
   list-style: none;   
   margin: .5rem 0;
}

#footer nav ul li a {
   text-decoration: none;
   color: var(--white);
   font-size: 1.2rem;
}

#footer nav ul li a:hover {
   opacity: .8;
   padding-left: .2rem;
}

#footer .contact-info {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   font-size: 1.3rem;
   /* background-color: coral; */
}

#footer .contact-info .email {
   margin-top: 2rem;
}

#footer .fa-phone-alt, #footer .fa-envelope {
   background-color: var(--grey);
   padding: .7rem;
   border-radius: 50%;
   margin-right: .5rem;
}

#footer .contact-info h2 {
   margin: 0;
}

#footer .contact-info h2:nth-of-type(2) {
   margin-top: 2rem;
}

#footer .contact-info a {
   text-decoration: none;
   color: var(--white);
   letter-spacing: 1.2px;
}

#footer .contact-info .email-addr {
   color: var(--blue);
   font-weight: bold;
   letter-spacing: 1.5px;
}

#footer .copyright {
   /* background-color: brown; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2rem;
}