@import url('./variable.css');

/* ======= COMPANY BANNER ======= */
.banner {
   background-color: var(--black);
   color: var(--white);
   height: 70vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.banner .title {
   font-size: 3.5rem;
   text-align: center;
   margin-top: 3rem;
}

.banner .title span {
   font-size: 4rem;
   font-weight: 600;
   font-style: oblique;
   letter-spacing: 10px;
   text-transform: uppercase;
}

.banner .cta {
   margin-top: 2rem;
   display: flex;
   justify-content: center;
}

.cta .portfolio-cta {
   text-decoration: none;
   color: var(--black);
   background-image: linear-gradient(to right, var(--white) 0%, hsl(0, 0%, 90%) 100%);
   border: 2px solid var(--white);
   padding: .8rem 1.6rem;
   margin: 0 1rem;
   font-size: 1.05rem;
   border-radius: 5px;
   transition-duration: .4s;
}

.cta .portfolio-cta:hover {
   opacity: .8;
   background-color: hsl(0, 0%, 95%);
}

.cta .contact-cta {
   text-decoration: none;
   color: var(--white);
   border: 2px solid var(--white);
   padding: .8rem 1.6rem;
   margin: 0 1rem;
   font-size: 1.05rem;
   border-radius: 5px;
   transition-duration: .4s;
}

.cta .contact-cta:hover {
   opacity: .8;
   background-color: hsl(0, 0%, 20%);
}

/* ======== MAIN CONTENT ======== */
/** ===== ABOUT US SECTION =====  */
#container {
   width: 70%;
   min-width: 800px;
   margin: 0 auto;
   /* background-color: crimson; */
}

.about-us {
   display: flex;
   height: 50vh;
   margin: 4rem 0;
   position: relative;
}

.about-us .illus-wrapper {
   width: 40%;
}

/* * relative to "about-us" section */
.about-us #team-illus {
   position: absolute;
   top: 0;
   left: -15%;
   z-index: -2;
   width: 50%;
}

.about-us .line {
   width: 10px;
   height: 100%;
   border-radius: 10px;
   background-color: var(--purple);
   /* background-image: linear-gradient(to bottom, var(--blue) 0%, var(--purple) 100%); */
}

.about-us .right-wrapper {
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.about-us .title {
   margin: 2rem 0;
   font-size: 3.5rem;
}

.about-us .text {
   font-size: 1.2rem;
   line-height: 2.2rem;
   letter-spacing: 1.1px;
   text-align: center;
   padding: 0 0 0 2rem;
}


/** ===== PORTFOLIO SECTION =====  */
.portfolio {
   height: 50vh;
   display: flex;
   margin: 2rem 0;
   /* background-color: coral; */
}

.portfolio .text-wrapper {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
   line-height: 2.2rem;
   letter-spacing: 1.1px;
   padding: 0 2rem;
   text-align: center;
   /* background-color: aqua; */
}

.portfolio .title {
   font-size: 3.5rem;
   margin: 2rem 0;
}

.portfolio .image-wrapper {
   width: 50%;
   height: 100%;
   position: relative;
   background-image: url('../media/notebook.jpeg');
   background-size: cover;
   background-repeat: no-repeat;
   box-shadow: 1px 2px 10px var(--black);
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.image-wrapper .overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: hsla(0, 0%, 0%, .2);
}

.image-wrapper .portfolio-btn {
   display: none;
   text-decoration: none;
   color: var(--white);
   font-size: 2rem;
   padding: .5rem 1rem;
   z-index: 2;
   transition-duration: .5s;

}

.image-wrapper .overlay:hover {
   background-color: none;
   background-image: linear-gradient(to top, var(--purple) 40%, hsla(0, 0%,0%, 0) 100%);
   opacity: .8;
   cursor: pointer;
}

.image-wrapper .overlay:hover + .portfolio-btn {
   display: block;
}


/** ===== CONTACT US SECTION =====  */
.contact-us {
   display: flex;
   height: 70vh;
   margin: 4rem 0;
   position: relative;
}

.contact-us .illus-wrapper {
   width: 40%;
   /* background-color: crimson; */
}

/* * relative to "contact" section */
.contact-us #lightbulb-illus {
   position: absolute;
   top: 0;
   left: -10%;
   z-index: -2;
   width: 40%;
   z-index: 5;
}

.contact-us .right-wrapper {
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* background-color: coral; */
}

.contact-us .title {
   margin: 2rem 0;
   font-size: 3.5rem;
}

.contact-us .text {
   font-size: 1.2rem;
   line-height: 2.2rem;
   letter-spacing: 1.1px;
   text-align: center;
   padding: 0 0 0 2rem;
}

.contact-us .schedule-btn {
   text-decoration: none;
   text-align: center;
   color: var(--white);
   background-image: linear-gradient(to right, var(--blue) 0%, var(--purple) 100%);
   padding: 1.3rem 1.6rem;
   margin: 2rem 0;
   font-size: 1.05rem;
   border-radius: 5px;
   box-shadow: 2px 3px 10px hsla(0, 0%, 0%, .4);
   transition-duration: .4s;
}

.contact-us .schedule-btn:hover {
   opacity: .8;
   background-image: linear-gradient(to right, var(--purple) 0%, var(--blue) 100%);
}
