@import url('./variable.css');

body {
   margin: 0;
   padding: 0;
   font-family: Lato, sans-serif;
}

/* ======= HEADER ======= */
#header {
   background-color: var(--black);
   color: var(--white);
   width: 100%;
   display: flex;
   padding: 0 3rem;
   box-sizing: border-box;
   box-shadow: 0 2px 5px 5px var(--black);
}

#header .logo {
   text-transform: uppercase;
   flex-grow: 1;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   letter-spacing: 2px;
   font-weight: bold;
   font-size: 1.5rem;
   cursor: pointer;
   /* background-color: blueviolet; */
}

.logo:hover {
   opacity: .8;
}

#header .logo a {
   text-decoration: none;
   color: var(--white);
}

#header nav {
   flex-grow: 3;
   /* background-color: crimson; */
}

#header nav ul {
   list-style: none;
   margin: 0 0 0 2rem;
   padding: 0;
   display: flex;
   justify-content: flex-start;
}

#header nav ul li {
   margin: 0 .3rem;
   box-sizing: border-box;
   cursor: pointer;
}

#header nav ul li a {
   text-decoration: none;
   font-size: 1.2rem;
   color: var(--white);
   display: block;
   padding: 1.5rem;
   position: relative;
}

#header nav ul li a:hover {
   opacity: .8;
}

/* Nav items hover effect */
#header nav ul li a::after {
   content: "";
   background-color: var(--white);
   height: 2px;
   width: 0;
   position: absolute;
   bottom: 10px;
   left: 0;
   transition-duration: .3s;
}

#header nav ul li a:hover::after {
   width: 100%;
}

#header .contact {
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: aqua; */
}

#header .contact .contact-btn  {
   display: block;
   text-decoration: none;
   color: var(--white);
   background-image: linear-gradient(to right, var(--blue) 0%, var(--purple) 100%);
   transition-duration: .4s;
   padding: .6rem 1.5rem;
   border-radius: 50px;
   font-size: 1.05rem;
}

#header .contact-btn:hover {
   opacity: .8;
   background-image: linear-gradient(to right, var(--purple) 0%, var(--blue) 100%);
}

#header .contact span {
   margin: 0 0 0 .3rem;
}


/* ======= COMPANY BANNER ======= */
.banner {
   background-color: var(--black);
   color: var(--white);
   height: 70vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.banner .title {
   font-size: 3.5rem;
   text-align: center;
   margin-top: 3rem;
}

.banner .title span {
   font-size: 4rem;
   font-weight: 600;
   font-style: oblique;
   letter-spacing: 10px;
   text-transform: uppercase;
}

.banner .cta {
   margin-top: 2rem;
   display: flex;
   justify-content: center;
}

.cta .portfolio-cta {
   text-decoration: none;
   color: var(--black);
   background-image: linear-gradient(to right, var(--white) 0%, hsl(0, 0%, 90%) 100%);
   border: 2px solid var(--white);
   padding: .8rem 1.6rem;
   margin: 0 1rem;
   font-size: 1.05rem;
   border-radius: 5px;
   transition-duration: .4s;
}

.cta .portfolio-cta:hover {
   opacity: .8;
   background-color: hsl(0, 0%, 95%);
}

.cta .contact-cta {
   text-decoration: none;
   color: var(--white);
   border: 2px solid var(--white);
   padding: .8rem 1.6rem;
   margin: 0 1rem;
   font-size: 1.05rem;
   border-radius: 5px;
   transition-duration: .4s;
}

.cta .contact-cta:hover {
   opacity: .8;
   background-color: hsl(0, 0%, 20%);
}

/* ======== MAIN CONTENT ======== */
/** ===== ABOUT US SECTION =====  */
#container {
   width: 70%;
   min-width: 800px;
   margin: 0 auto;
   /* background-color: crimson; */
}

.about-us {
   display: flex;
   height: 50vh;
   margin: 4rem 0;
   position: relative;
}

.about-us .illus-wrapper {
   width: 40%;
}

/* * relative to "about-us" section */
.about-us #team-illus {
   position: absolute;
   top: 0;
   left: -15%;
   z-index: -2;
   width: 50%;
}

.about-us .line {
   width: 10px;
   height: 100%;
   border-radius: 10px;
   background-color: var(--purple);
   /* background-image: linear-gradient(to bottom, var(--blue) 0%, var(--purple) 100%); */
}

.about-us .right-wrapper {
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.about-us .title {
   margin: 2rem 0;
   font-size: 3.5rem;
}

.about-us .text {
   font-size: 1.2rem;
   line-height: 2.2rem;
   letter-spacing: 1.1px;
   text-align: center;
   padding: 0 0 0 2rem;
}


/** ===== PORTFOLIO SECTION =====  */
.portfolio {
   height: 50vh;
   display: flex;
   margin: 2rem 0;
   /* background-color: coral; */
}

.portfolio .text-wrapper {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
   line-height: 2.2rem;
   letter-spacing: 1.1px;
   padding: 0 2rem;
   text-align: center;
   /* background-color: aqua; */
}

.portfolio .title {
   font-size: 3.5rem;
   margin: 2rem 0;
}

.portfolio .image-wrapper {
   width: 50%;
   height: 100%;
   position: relative;
   background-image: url('../media/notebook.jpeg');
   background-size: cover;
   background-repeat: no-repeat;
   box-shadow: 1px 2px 10px var(--black);
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.image-wrapper .overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: hsla(0, 0%, 0%, .2);
}

.image-wrapper .portfolio-btn {
   display: none;
   text-decoration: none;
   color: var(--white);
   font-size: 2rem;
   padding: .5rem 1rem;
   z-index: 2;
   transition-duration: .5s;

}

.image-wrapper .overlay:hover {
   background-color: none;
   background-image: linear-gradient(to top, var(--purple) 40%, hsla(0, 0%,0%, 0) 100%);
   opacity: .8;
   cursor: pointer;
}

.image-wrapper .overlay:hover + .portfolio-btn {
   display: block;
}


/** ===== CONTACT US SECTION =====  */
.contact-us {
   display: flex;
   height: 70vh;
   margin: 4rem 0;
   position: relative;
}

.contact-us .illus-wrapper {
   width: 40%;
   /* background-color: crimson; */
}

/* * relative to "contact" section */
.contact-us #lightbulb-illus {
   position: absolute;
   top: 0;
   left: -10%;
   z-index: -2;
   width: 40%;
   z-index: 5;
}

.contact-us .right-wrapper {
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* background-color: coral; */
}

.contact-us .title {
   margin: 2rem 0;
   font-size: 3.5rem;
}

.contact-us .text {
   font-size: 1.2rem;
   line-height: 2.2rem;
   letter-spacing: 1.1px;
   text-align: center;
   padding: 0 0 0 2rem;
}

.contact-us .schedule-btn {
   text-decoration: none;
   text-align: center;
   color: var(--white);
   background-image: linear-gradient(to right, var(--blue) 0%, var(--purple) 100%);
   padding: 1.3rem 1.6rem;
   margin: 2rem 0;
   font-size: 1.05rem;
   border-radius: 5px;
   box-shadow: 2px 3px 10px hsla(0, 0%, 0%, .4);
   transition-duration: .4s;
}

.contact-us .schedule-btn:hover {
   opacity: .8;
   background-image: linear-gradient(to right, var(--purple) 0%, var(--blue) 100%);
}


/** ====== FOOTER ====== */
#footer {
   background-color: var(--black);
   color: var(--white);
   padding: 2rem 0;
}

#footer .back-to-top {
   /* background-color: crimson; */
   text-align: center;
   margin-bottom: 2rem;
}

#footer .back-to-top a {
   text-decoration: none;
   color: var(--white);
}

#footer section {
   display: flex;
}

#footer .placeholder {
   flex-grow: 1;
   /* background-color: aquamarine; */
}

#footer nav {
   flex-grow: 1;
   padding: 0 1rem;
   /* background-color: crimson; */
}

#footer nav ul {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   margin: 0;
   padding: 0;
}

#footer nav ul li {
   list-style: none;   
   margin: .5rem 0;
}

#footer nav ul li a {
   text-decoration: none;
   color: var(--white);
   font-size: 1.2rem;
}

#footer nav ul li a:hover {
   opacity: .8;
   padding-left: .2rem;
}

#footer .contact-info {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   font-size: 1.3rem;
   /* background-color: coral; */
}

#footer .contact-info .email {
   margin-top: 2rem;
}

#footer .fa-phone-alt, #footer .fa-envelope {
   background-color: var(--grey);
   padding: .7rem;
   border-radius: 50%;
   margin-right: .5rem;
}

#footer .contact-info h2 {
   margin: 0;
}

#footer .contact-info h2:nth-of-type(2) {
   margin-top: 2rem;
}

#footer .contact-info a {
   text-decoration: none;
   color: var(--white);
   letter-spacing: 1.2px;
}

#footer .contact-info .email-addr {
   color: var(--blue);
   font-weight: bold;
   letter-spacing: 1.5px;
}

#footer .copyright {
   /* background-color: brown; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2rem;
}