@import url('./variable.css');

#container {
   width: 70%;
   min-width: 800px;
   margin: 3rem auto;
}

.portfolio-list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   gap: 3rem;
}

.portfolio-item {
   height: 40vh;
   display: flex;
   flex-direction: column;
   /* background-color: cadetblue; */
}

.portfolio-item .img-wrapper {
   height: 85%;
   overflow: scroll;
   cursor: pointer;
   box-shadow: 1px 2px 10px hsla(0, 0%, 0%, .3);
   /* background-color: crimson; */
   /* Hide scrollbar Xbrowsers */
   -ms-overflow-style: none; /* Edge */
   scrollbar-width: none; /* Firefox */
   position: relative;
}

/* hide chrome scrollbar */
.portfolio-item .img-wrapper::-webkit-scrollbar {
   display: none;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.portfolio-item .img-wrapper a {
   text-decoration: none;
}

.portfolio-item .img-wrapper .overlay-text {
   display: none;
}

.portfolio-item .img-wrapper:hover .overlay-text {
   display: block;
   width: 100%;
   position: sticky;
   top: 0;
   text-align: center;
   text-decoration: none;
   color: var(--white);
   padding: .3rem 0;
   background-color: hsla(0, 0%, 0%, .5);
}

.portfolio-item .img-wrapper .website-img {
   width: 100%;
}

.portfolio-item .title {
   height: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
} 

.portfolio-item .title a {
   display: block;
   text-decoration: none;
}

.portfolio-item .title a:hover {
   text-decoration: underline;
}