@import url('./variable.css'); 

main {
   width: 70%;
   min-width: 800px;
   margin: 0 auto;   
   height: auto;
}

/** ======= PRICING INTRO SECTION ======= */
.pricing-intro {
   display: flex;
   margin: 2rem 0;
   height: 50vh;
}

.illus-wrapper {
   width: 50%;
   position: relative;
   /* background-color: crimson; */
}

/* relative to illus-wrapper */
#money-illus {
   position: absolute;
   top: 0;
   left: 0;
   width: 80%;
}

.text-wrapper {
   width: 50%;
   /* background-color: cadetblue; */
}

.pricing-intro .title {
   text-align: center;
   letter-spacing: 1.5px;
}

.pricing-intro .para {
   font-size: 1.2rem;
   line-height: 2.2rem;
}

.section-text {
   font-size: 2rem;
   text-align: center;
   font-weight: bold;
}


/** ======= PRICING TABLE SECTION ======= */
.pricing-table {
   margin: 3rem 0;
   display: flex;
   justify-content: space-between;
}

.plan-box {
   width: 30%;
   border-radius: 4px;
   box-shadow: 1px 2px 5px hsla(0, 0%, 0%, .3);
   box-sizing: border-box;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition-duration: .3s;
}

.plan-box:hover {
   transform: scale(110%);
   box-shadow: none;
   border: 3px solid var(--purple);
}

.heading {
   width: 100%;
   text-align: center;
}

.heading .title {
   margin: 0;
}

.heading .descript {
   color: hsl(0, 0%, 60%);
   margin: .5rem 0;
}

.heading .price {
   color: var(--grey);
   display: flex;
   justify-content: center;
   align-items: center;
}

.heading .price span {
   font-size: 2rem;
   color: var(--black);
   font-weight: bold;
   margin: 0 .3rem;
}

.line {
   width: 100%;
   height: 2px;
   background-color: hsl(0, 0%, 93%);
   margin: 1rem auto;
}

.features {
   background-color: hsl(0, 0%, 100%);
   padding: 1rem;
}

.features ul {
   margin: 0;
   padding: 0;
}

.features ul li {
   list-style: none;
   margin: .5rem 0;
}

.features .fa-check-circle {
   color: var(--blue);
   margin-right: .5rem;
}

.get-started {
   text-decoration: none;
   color: var(--white);
   background-image: linear-gradient(to right, var(--blue) 0%, var(--purple) 100%);
   text-align: center;
   padding: .8rem .4rem;
   margin-bottom: 1rem;
   width: 50%;
   border-radius: 5px;
   box-shadow: 1px 2px 5px hsla(0, 0%, 0%, .3);
}

.get-started:hover {
   opacity: .9;
   background-image: linear-gradient(to right, var(--purple) 0%, var(--blue) 100%);
}

.standard-plan {
   display: flex;
   flex-direction: column;
   /* background-color: crimson; */
}

.premium-plan {
   width: 30%;
}

.professional-plan {
   width: 30%;
}

.bottom {
   margin: 5rem 0;
   text-align: center;
   position: relative;
   /* background-color: cadetblue; */
}

.bottom h1 {
   font-size: 2rem;
}

/* relative to .bottom */
#laptop-illus {
   position: absolute;
   top: -50%;
   right: 0;
   width: 30%;
}

.bottom .contact-btn {
   text-decoration: none;
   color: var(--white);
   background-image: linear-gradient(to right, var(--blue) 0%, var(--purple) 100%);
   text-align: center;
   padding: .8rem 1.5rem;
   width: 50%;
   border-radius: 5px;
   box-shadow: 1px 2px 5px hsla(0, 0%, 0%, .3);
}