:root {
   --black: hsl(0, 0%, 13%);
   --white: hsl(0, 0%, 98%);
   --grey: hsl(0, 0%, 22%);
   --lightGrey: hsl(0, 0%, 95%);
   --blue: hsl(222, 76%, 59%);
   --purple: hsl(263, 77%, 62%);
   --errorColor: hsl(0, 80%, 60%);
}

